{% extends 'main.html' %} {% block content%} {% include 'header.html' %}
<main class="dashboard-main">
  <div class="sidebar">
    <button class="tablinks selected">Overview</button>
    <button class="tablinks">Edit Account</button>
    <button class="tablinks">Notifications</button>
    <button class="tablinks">Sign Out</button>
  </div>
  <div class="content">
    <section class="cards-section">
      {% for tree in trees %}
      <div class="card">
        <h3>{{tree.name}}</h3>
        <p>{{tree.description}}</p>
        <a href="{% url 'treePage' %}">View Tree</a>
      </div>
      {% endfor %}
    </section>
  </div>
</main>
<footer>
  <i class="fa-regular fa-lightbulb" onclick="toggleDarkMode()" title="Toggle Dark Mode"></i>
</footer>
{% endblock content%}
