{% extends 'main.html' %} {% block content%}
<main class="dashboard-main">
  <div class="sidebar">
    <a href="{% url 'profilePage' user.username %}"
      ><img class="profile-img" src="{{ user.avatar.url }}" alt="profile picture" />
      <p style="text-align: center">{{user.username}}</p></a
    >
    <a href="{% url 'createTree' %}">Create Tree</a>
    <a href="{% url 'updateUser' %}">Edit Profile</a>
    <a href="{% url 'logout' %}">Sign Out</a>
  </div>
  <div class="content">
    <section class="card-section">
      {% if trees %} {% for tree in trees %}
      <div class="card dashboard-card">
        <h3>{{tree.name}}</h3>
        <p>{{tree.description}}</p>
        <a href="{% url 'treePage' %}">View Tree</a>
      </div>
      {% endfor %} {% else %}
      <div class="card" style="box-shadow: 0 0 8px #4d9447">
        <h3>Create New Tree</h3>
        <p>Start by creating a new tree!</p>
        <a href="{% url 'createTree' %}" style="background-color: #4d9447">Create Tree</a>
      </div>
      {% endif %}
    </section>
  </div>
</main>
<footer>
  <i class="fa-regular fa-lightbulb" onclick="toggleDarkMode()" title="Toggle Dark Mode"></i>
</footer>
{% endblock content%}
