{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
    <script src="https://kit.fontawesome.com/b593ca79be.js" crossorigin="anonymous"></script>
  </head>
  <body class="loginBody dark-mode">
    <a href="{% url 'landingPage' %}"><img src="{% static 'images/logo.png' %}" alt="Logo" /></a>
    <h1 class="title">SkillSync</h1>
    <main class="form-container">
      <h2>Login</h2>
      <form action="{% url 'dashboardPage' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="example@mail.com" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="password" required />
        </div>
        <div class="form-group" id="regInput" style="display: none">
          <label for="password">Verify Password</label>
          <input type="password" id="password2" name="password2" placeholder="Verify Password" />
        </div>
        <button type="submit" class="F1-button">Login</button>
      </form>
      <button class="F2-button">Don't have an account? Register</button>
    </main>

    <footer>
      <i class="fa-solid fa-expand" onclick="resetScale()" title="Reset Zoom" style="margin-left: 15px; cursor: pointer; display: none"></i>
      <i class="fa-regular fa-lightbulb" onclick="toggleDarkMode()" title="Toggle Dark Mode"></i>
    </footer>

    <script src="{% static 'js/login.js' %}" defer></script>
    <script src="{% static 'js/footer.js' %}" defer></script>
  </body>
</html>
