<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkillSync</title>
    <link rel="icon" href="../static/images/logoIcon.png" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
    <script src="https://kit.fontawesome.com/b593ca79be.js" crossorigin="anonymous"></script>
  </head>

  <body class="dark-mode">
    {% block content %} {% endblock %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <script src="{% static 'js/icon.js' %}" defer></script>
  </body>
</html>
