{% extends 'main.html' %} {% block content%} {% include 'header.html' %}
<main class="profile-main">
  <div class="profile-container">
    <!-- Header Section -->
    <div class="profile-header">
      <div>
        {% if user.first_name %}
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <h2 class="username">@{{ user.username }}</h2>
        {% else %}
        <h1>{{ user.username }}</h1>
        {% endif %} {% if request.user == user %}
        <a href="{% url 'updateUser' %}" class="F2-button edit-profile">Edit Profile</a>
        {% endif %}
      </div>
      <img class="profile-img" src="{{ user.avatar.url }}" alt="profile picture" />
    </div>

    <!-- Overview and Contact Section -->
    <section class="main-section">
      <div class="overview">
        <h2>Overview</h2>
        {% if user.bio %}
        <p>{{user.bio}}</p>
        {% else %}
        <p>{{user.username}} has no bio currently.</p>
        {% endif %}
      </div>

      <div class="contact">
        <h2>Contact</h2>
        <p>Email: {{user.email}}</p>
        {% if user.phoneNumber %}
        <p>Phone: {{ user.phoneNumber }}</p>
        {% endif %} {% if user.Linkedin %}
        <p><a href="https://www.linkedin.com/in/{{ user.Linkedin }}" target="_blank" rel="noopener noreferrer">Linkedin</a></p>
        {% endif %} {% if user.Github %}
        <p><a href="https://github.com/{{ user.Github }}" target="_blank" rel="noopener noreferrer">Github</a></p>
        {% endif %}
      </div>
    </section>

    <!-- Skill Cards Section -->
    <section class="cards-section">
      {% if tree in trees %} {% for tree in trees %}
      <div class="card">
        <h3>{{tree.name}}</h3>
        <p>{{tree.description}}</p>
        {% if request.user == user %}
        <a href="{% url 'treePage' %}">View Tree</a>
        {% endif %}
      </div>
      {% endfor %} {% else %}
      <div class="card">
        <h3>No trees currently.</h3>
      </div>
      {% endif %}
    </section>
  </div>
</main>

<footer>
  <i class="fa-regular fa-lightbulb" onclick="toggleDarkMode()" title="Toggle Dark Mode"></i>
</footer>
{% endblock content%}
