{% extends 'main.html' %}{% load static %} {% block content%} {% include 'header.html' %}
<div class="form-container questionnaire">
  <h2>Tree Theme</h2>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="answer">Enter a keyword or phrase to describe how you want the tree to be designed (e.g., skill development, project management, learning path).</label>
      <input type="text" id="answer" name="subject" placeholder="Software Engineer" required />
    </div>
    <button type="submit" class="F2-button">Submit</button>
  </form>
</div>

<footer>
  <i class="fa-solid fa-expand" onclick="resetScale()" title="Reset Zoom"></i>
  <i class="fa-regular fa-lightbulb" onclick="toggleDarkMode()" title="Toggle Dark Mode"></i>
</footer>

<script src="{% static 'js/tree.js' %}" defer></script>
{% endblock content%}
