{% extends 'main.html' %} {% load static %} {% block content%} {% include 'header.html' %} {% load custom_tags %}
<main>
  <div class="tree-container">
    <ul class="tree">
      <li>{% renderNestedDict jsonData %}</li>
    </ul>
  </div>

  <div class="info-panel">
    <div class="tab-container">
      <button class="tab" onclick="showTab('description')">Description</button>
    </div>
    <div class="tab-content" id="descriptionTab">
      <h3 id="infoTitle">Node Title</h3>
      <p id="infoDescription">Node Description</p>
    </div>
  </div>
</main>

<footer>
  <i class="fa-solid fa-expand" onclick="resetScale()" title="Reset Zoom"></i>
  <i class="fa-regular fa-lightbulb" onclick="toggleDarkMode()" title="Toggle Dark Mode"></i>
</footer>

<script src="{% static 'js/tree.js' %}" defer></script>
{% endblock content%}
