{% extends 'main.html' %} {% load static %} {% block content%} {% include 'header.html' %} {% load custom_tags %}
<main>
  <div class="tree-container">
      <ul class="tree">
        {% renderNestedDict jsonData %}
      </ul>
  </div>
</main> 

<footer>
  <i class="fa-solid fa-expand" onclick="resetScale()" title="Reset Zoom"></i>
  <i class="fa-regular fa-lightbulb" onclick="toggleDarkMode()" title="Toggle Dark Mode"></i>
</footer>

<script src="{% static 'js/tree.js' %}" defer></script>
{% endblock content%}
