{% extends 'main.html' %} {% block content%} {% include 'header.html' %}

<div class="settings-container form-container">
  <h2>Settings</h2>
  <form class="settings-form" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }} {% if field.help_text %}
      <p>{{ field.help_text }}</p>
      {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="F1-button">Save Changes</button>
  </form>
</div>

<footer>
  <i class="fa-regular fa-lightbulb" onclick="toggleDarkMode()" title="Toggle Dark Mode"></i>
</footer>

{% endblock content%}
