/* General Formatting */

:root {
  --white: #ffffff;
  --lightGrey: #a3a3a3;
  --midGrey: #7c7c7c;
  --darkGrey: #333;
  --black: black;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e6e6e6;
  color: var(--darkGrey);
  overflow-y: auto;
  transition: background-color 0.3s, color 0.3s;
}

main {
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

img {
  display: block;
  margin: 2rem auto;
  width: 75px;
  height: auto;
}

form {
  width: 80%;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

/* Dark mode */
.dark-mode {
  background-color: var(--darkGrey);
  color: var(--white);
}

/* LoginPage */

.loginBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBody .title {
  font-size: 80px;
  font-weight: bold;
  margin: 0 0 60px 0;
}

/* Header and Footer Styling */

header,
footer {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  z-index: 10;
  width: 100%;
  height: 0;
}

header img {
  margin: 0;
  width: 40px;
}

header > div {
  display: flex;
}

header .profile-img {
  width: 1.75vw;
  height: 1.75vw;
  border: 1px solid var(--black);
  padding: 1px;
}

header > *,
header i,
footer i {
  color: inherit;
  cursor: pointer;
  transition: filter 0.3s ease;
  z-index: 10;
  position: relative;
}

header i,
footer i {
  font-size: 1.75vw;
}

header > * {
  top: 2.636vh;
  margin: 0.75vw;
}

header > a:first-of-type {
  margin-right: auto;
}

header img:hover,
i:hover {
  filter: invert(25%);
}

footer {
  bottom: 0;
}

footer i {
  bottom: 2.636vh;
  margin: 0.75vw;
}

footer .fa-expand {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 2vw;
  right: 0;
  background-color: var(--white);
  min-width: 125px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.dropdown-content a {
  color: var(--black);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: var(--midGrey);
}

.questionnaire.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.questionnaire.form-container h2 {
  padding-bottom: 30px;
}

.questionnaire.form-container button,
.settings-form button {
  background-color: #4d9447;
}

/* LandingPage */

.container {
  text-align: center;
}

.logo {
  width: 330px;
  margin: 40px auto;
}

.title {
  font-size: 96px;
  font-weight: bold;
  color: var(--lightGrey);
  margin: 20px;
}

.subtitle {
  font-size: 24px;
  color: var(--midGrey);
  margin-bottom: 60px;
}

.login-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #111;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--black);
}

/* TreePage */

.tree-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  transition: transform 0.3s ease;
  cursor: grab;
  overflow: hidden;
}

.tree button {
  border: solid 0.1em var(--black);
  border-radius: 0.2em;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  padding: 0.2em 0.5em;
  position: relative;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.tree button:hover {
  background-color: #b8b8b8;
}

.tree button.selected {
  background-color: var(--midGrey);
  transition: background-color 0.3s;
}

.tree,
.tree ul,
.tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tree {
  margin: 0 0 1em;
  text-align: center;
  position: fixed;
  transform-origin: 0 0;
}

.tree,
.tree ul {
  display: table;
}

.tree ul {
  width: 100%;
}

.tree li {
  display: table-cell;
  padding: 0.5em 0;
  vertical-align: top;
}

/* _________ */
.tree li:before {
  outline: solid 1px var(--midGrey);
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.tree li:first-child:before {
  left: 50%;
}
.tree li:last-child:before {
  right: 50%;
}

/* | */
.tree ul:before,
.tree button:before {
  outline: solid 1px var(--midGrey);
  content: "";
  height: 0.4em;
  left: 50%;
  position: absolute;
}
.tree ul:before {
  top: -0.35em;
  height: 0.289em;
}
.tree button:before {
  top: -0.55em;
}

/* The root node doesn't connect upwards */
.tree > li {
  margin-top: 0;
}
.tree > li:before,
.tree > li:after,
.tree > li > button:before {
  outline: none;
}

/* Information Panel */
.info-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid var(--black);
  padding: 0 20px;
  display: none;
  height: 35%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
  z-index: 5; /* Behind the header and footer */
  transition: transform 0.3s ease;
  background-color: inherit;
}

.info-panel h3 {
  margin: 0;
  font-size: 24px;
}

.info-panel p {
  font-size: 16px;
  margin: 5px 0;
}

.tab-container {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--black);
  margin-bottom: 10px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  border-bottom: 2px solid var(--black);
}

.tab-content {
  display: none;
}

/* Question Form */
.form-container {
  width: 40%;
  max-width: 800px;
  height: auto;
  min-height: 400px;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  background-color: inherit;
  z-index: 10;
}

.form-container form {
  max-width: 500px;
  margin: 0 auto;
}

.form-container h2 {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 40px;
  font-weight: 600;
}

.form-group {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 80%;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--lightGrey);
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: var(--darkGrey);
}

.F1-button,
.F2-button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  color: inherit;
  background-color: inherit;
}

.F1-button {
  width: 60%;
  margin: 0 auto 1rem auto;
}

.F2-button {
  width: 40%;
  margin: 0 auto;
}

.F1-button:hover,
.F2-button:hover {
  background-color: var(--midGrey);
}

/* AccountPage */
.sidebar {
  width: 10vw;
  min-width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  justify-content: center;
}

.sidebar button,
.sidebar a {
  background-color: inherit;
  color: inherit;
  padding: 16px;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
}

.sidebar button:hover,
.sidebar a:hover {
  filter: invert(25%);
}

.content {
  width: 82vw;
  padding: 0 3vw;
  position: absolute;
  left: 10vw;
}

.tabcontent {
  display: none;
  padding: 20px;
  width: fit-content;
}

.tabcontent h2 {
  margin-bottom: 15px;
}

.tabcontent p {
  font-size: 16px;
}

.settings-container {
  justify-self: center;
  align-content: center;
}

.settings-form .form-group {
  width: 100%;
  margin: 0 0 1rem 0;
}

.settings-form button {
  margin: 0 auto 1rem auto;
}

.settings-form textarea {
  width: 100%;
  height: 20vh;
  resize: none;
}

/* ProfilePage */
.profile-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 32px;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.profile-section h1 {
  font-size: 48px;
  font-weight: 700;
  width: 70%;
}

.main-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.main-section > div {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.main-section > div:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
}

.username {
  margin: 0;
}

.edit-profile {
  margin: 10px 0;
}

.overview {
  width: 60%;
}

.contact {
  width: 30%;
}

.overview h2,
.contact h2 {
  margin-bottom: 20px;
}

.overview p {
  line-height: 1.5;
}

.contact p {
  margin-bottom: 10px;
}

.contact a {
  text-decoration: underline;
}

.profile-container {
  padding: 40px 80px;
}

.profile-img {
  width: 100px;
  height: 100px;
  background-color: var(--darkGrey);
  border-radius: 50%;
  border: 3px solid var(--black);
  padding: 5px;
  object-fit: cover;
  margin: 0;
}

/* DashboardPage */
.dashboard-main {
  display: flex;
  height: 100vh;
  align-items: center;
}

.cards-section {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: box-shadow 0.3s ease;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 20px;
}

.card a {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  background-color: inherit;
  color: inherit;
}

.card a:hover {
  background-color: var(--midGrey);
}

/* Overwrites */

.selected {
  filter: invert(25%) !important;
}

.show {
  display: block !important;
}